<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Barganha e leilão</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"> <img alt="BarganhaLeilao"
					src="/images/LogoBarganha.png" height="35" width="50">
				</a>

			</div>

			<ul class="nav nav-tabs">

				<li class="presentation"><a href="/cadastro/cliente">Cadastro
						de Cliente</a></li>
				<li class="presentation"><a href="/cadastroObjeto/novo">Cadastro
						de Objetos</a></li>
				<li class="presentation  "><a href="/produto/pesquisa">Pesquisa</a></li>
			</ul>
		</div>
	</nav>
	<!--  
	<iframe width="1000" height="550"
		src="https://www.youtube.com/embed/zzkdXcxw-Ig"
		title="YouTube video player" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen></iframe>
		-->

	<form class="form-horizontal">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="/images/LogoBarganha.png" alt="BarganhaLeilao">
					<div class="caption">
						<h3>BARGANHA E LEILÃO!</h3>
						<p>conheça aogra o site barganha e leilão</p>
						<p>
							<a href="/cadastro/cliente" class="btn btn-primary" role="button">Conheça!</a> 
						</p>
					</div>
				</div>
			</div>
		</div>
	</form>

	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>